**LabML01(KNN)**

The k-nearest neighbors (KNN) is  easy-to-implement supervised machine learning algorithm that can be used to solve  classification. The KNN algorithm uses 'feature similarity' to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set.
k in kNN algorithm represents the number of nearest neighbor points which are voting for the new test data’s class.

K nearest neighbors or KNN Algorithm is a simple algorithm which uses the entire dataset in its training phase. Whenever a prediction is required for an unseen data instance, it searches through the entire training dataset for k-most similar instances and the data with the most similar instance is finally returned as the prediction.

The similarity of the new point and the points in the training set is based on a distance measure. 

Add comments into the following code.

In [1]:
# Importação da Biblioteca Pandas
import pandas as pd

In [21]:
# Declaração da variavel que irá guardar o caminho da fonte de dados
# criação de uma variavel com os dados
url='https://raw.githubusercontent.com/masterfloss/data/main/jogadores.csv'
df=pd.read_csv(url,sep=";")

In [22]:
# Ler as 5 primeiras linhas do df (Dataframe)
df.head()

   Epoca  Idade  Altura  Minutos  Ser Transferido  Valor de Mercado Posicao
0   2015     27     1.9     4050                0              18.0      GK
1   2016     28     1.9     4126                0              14.0      GK
2   2017     29     1.9     3420                0              16.0      GK
3   2018     30     1.9     5100                1              16.0      GK
4   2019     31     1.9     3330                0              20.0      GK

In [23]:
#Tamanho antes de alterações
df.shape

(288, 7)

In [4]:
# criar uma nova variavel apenas com as colunas/variaveis mais significantes
X1=df.loc[:,['Idade','Altura','Minutos','Valor de Mercado']]

In [5]:
# Preparação ddos dados para serem standartizados
from sklearn.preprocessing import StandardScaler
standardizer=StandardScaler()
#X1Stand=standardizer.fit_transform(X1)
scaler=standardizer.fit(X1)

In [6]:
X1Stand=scaler.transform(X1)

In [29]:
X1.head()

   Idade  Altura  Minutos  Valor de Mercado
0     27     1.9     4050              18.0
1     28     1.9     4126              14.0
2     29     1.9     3420              16.0
3     30     1.9     5100              16.0
4     31     1.9     3330              20.0

In [30]:
X1.shape

(288, 4)

In [36]:
# Criar uma variavel ficticia da vairiavel que tem mais de um valor
posi=pd.get_dummies(df['Posicao'], prefix='pos')

In [37]:
# Criar uma array com o camando zip(); juntar vários num unico objecto
XArray=zip(posi['pos_ATA'],posi['pos_DEF'],posi['pos_GK'],posi['pos_MED'],X1Stand[:,0],X1Stand[:,1],X1Stand[:,2],X1Stand[:,3])

In [38]:
# Tipo da variavel
features=list(XArray)

In [41]:
# Algoritmo de aprendizagem: Vizinho mais próximo
from sklearn.neighbors import KNeighborsClassifier
# Criação do Modelo de aprendizagem com a indicação do num de vizinhos
model = KNeighborsClassifier(n_neighbors=3)
# Standartização
model.fit(features,df['Ser Transferido'])

KNeighborsClassifier(n_neighbors=3)

In [42]:
import numpy as np
# Goalkeeper, 30 years old, 1.90 m, 5100 minutes, market Value=16 ?
newdata=np.array([[30,1.90,5100,16]])
newvalues=scaler.transform(newdata)
newvalues

array([[3.0697833 , 1.43018826, 3.02329407, 0.89135565]])

In [13]:
# novos valores gerados com base nos argumentos enviados
list(newvalues)

[array([3.0697833 , 1.43018826, 3.02329407, 0.89135565])]

In [43]:
# cria um novo array, com o valores abaixo passados
teste=np.concatenate((np.array([[0,0,1,0]]),newvalues), axis=1)

In [45]:
# imprimir o conteúdo do array
teste

array([[0.        , 0.        , 1.        , 0.        , 3.0697833 ,
        1.43018826, 3.02329407, 0.89135565]])

In [46]:
# Prever os dados de testes usando o modelo antes criado
predicted = model.predict(teste) 
print(predicted)

[0]

Now let split the sample in training and test...

In [47]:
# treinar os dados para teste e para treino
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, df['Ser Transferido'], test_size=0.3)

In [48]:
# Treinar o modelo com o classificard KNeighors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [49]:
# Saber a precisão do modelo
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6091954022988506

In [ ]:
JLeal, 4 Dezembro 2020